<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body onload="document.getElementById('id01').style.display='block'">
<!--
	<div class="w3-container">-->
  <!--<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Modal</button>-->
  §
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
	<center><img src="https://downcharmed.online/assets/images/down-charmed-logo-4-659x85.png"/ width=75% class="logo"></center>

   <!--<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>-->
